@{
    ViewData["Title"] = "Home Page";
}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">SDSD Developer Test</h1>
            <p class="lead text-muted">Upload Documents, Email the documents and Display in a Grid to open or View</p>
            <p>
                <a asp-action="AddUpload" asp-controller="Home" class="btn btn-primary my-2">Upload a New Document</a>
               @* <a href="#" class="btn btn-secondary my-2">Secondary action</a>*@
            </p>
        </div>
    </section>
